*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "ITF Devanagari", "Noto Serif JP", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3",
    Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
    position: relative;
    /* 1500px + padding */
    max-width: calc(1500px + 80px);
    padding: 0 80px;
    margin: 0 auto;
}